.wrapper-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: yellow;
  flex: 1;
  position: sticky;
  top: 0;
}

.main-container {
  background-color: lightblue;
  flex: 5;
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    display: none;
  }

  .header-container {
    flex: 1;
  }

  .main-container {
    flex: 4;
  }
}
